<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>history</title>
    <!-- Bootstrap CSS -->
    <link href="../bootstrap/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="history.css">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="../home/home.html"><img style="margin-left: -10px ; margin-top: -14px" height="50px," width="50px" src="../images/logo.jpg"></a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="../home/home.html">HOME<span class="sr-only"></span></a></li>
                    <li><a href="../register/register.html">REGISTER<span class="sr-only"></span></a></li>
                    <li><a href="../search/search.html">SEARCH<span class="sr-only"></span></a></li>
                    <li><a href="#">VIEW ALL<span class="sr-only"></span></a></li>
                    <li><a href="../history/history.html">HISTORY<span class="sr-only"></span></a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">ABOUT US<span class="sr-only"></span></a></li>
                    <li><a href="../log-in/log_in.html">LOG OUT<span class="sr-only"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid" style="padding-top: 90px">
        <div class="row" >
            <div class="col-md-4">
                <div class="well" id="w1" style="background-color: #ffffff2e">
                    <form id="w1-history-form" action="/" method="post" role="form" style="display: block;">
                        <div class="form-group">
                            <div class="row" >
                                <div class="col-md-4">
                                    <label for="w1_source">Source:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w1_source" tabindex="1" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w1_dest">Destination:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w1_dest" tabindex="2" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w1_dept">Departure:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="time" name="dept_time" id="w1_dept" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-4">
                                    <label for="w1_seats">Partners Needed:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w1_seats" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="submit" name="view-submit" id="w1-history-submit" class="form-control btn btn-register pull-right" value="View">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well" id="w2" style="background-color: #ffffff2e">
                    <form id="w2-history-form" action="/" method="post" role="form" style="display: block;">
                        <div class="form-group">
                            <div class="row" >
                                <div class="col-md-4">
                                    <label for="w2_source">Source:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w2_source" tabindex="1" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w2_dest">Destination:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w2_dest" tabindex="2" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w2_dept">Departure:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="time" name="dept_time" id="w2_dept" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-4">
                                    <label for="w2_seats">Partners Needed:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w2_seats" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="submit" name="view-submit" id="w2-history-submit" class="form-control btn btn-register pull-right" value="View">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well" id="w3" style="background-color: #ffffff2e">
                    <form id="w3-history-form" action="/" method="post" role="form" style="display: block;">
                        <div class="form-group">
                            <div class="row" >
                                <div class="col-md-4">
                                    <label for="w3_source">Source:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w3_source" tabindex="1" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w3_dest">Destination:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w3_dest" tabindex="2" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w3_dept">Departure:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="time" name="dept_time" id="w3_dept" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-4">
                                    <label for="w3_seats">Partners Needed:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w3_seats" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="submit" name="view-submit" id="w3-history-submit" class="form-control btn btn-register pull-right" value="View">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" >
            <div class="col-md-4">
                <div class="well" id="w4" style="background-color: #ffffff2e">
                    <form id="w4-history-form" action="/" method="post" role="form" style="display: block;">
                        <div class="form-group">
                            <div class="row" >
                                <div class="col-md-4">
                                    <label for="w4_source">Source:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w4_source" tabindex="1" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w4_dest">Destination:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w4_dest" tabindex="2" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w4_dept">Departure:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="time" name="dept_time" id="w4_dept" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-4">
                                    <label for="w4_seats">Partners Needed:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w4_seats" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="submit" name="view-submit" id="w4-history-submit" class="form-control btn btn-register pull-right" value="View">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well" id="w5" style="background-color: #ffffff2e">
                    <form id="w5-history-form" action="/" method="post" role="form" style="display: block;">
                        <div class="form-group">
                            <div class="row" >
                                <div class="col-md-4">
                                    <label for="w5_source">Source:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w5_source" tabindex="1" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w5_dest">Destination:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w5_dest" tabindex="2" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w5_dept">Departure:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="time" name="dept_time" id="w5_dept" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-4">
                                    <label for="w5_seats">Partners Needed:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w5_seats" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="submit" name="view-submit" id="w5-history-submit" class="form-control btn btn-register pull-right" value="View">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <div class="well" id="w6" style="background-color: #ffffff2e">
                    <form id="w3-history-form" action="/" method="post" role="form" style="display: block;">
                        <div class="form-group">
                            <div class="row" >
                                <div class="col-md-4">
                                    <label for="w6_source">Source:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w6_source" tabindex="1" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w6_dest">Destination:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w6_dest" tabindex="2" class="form-control" value="" readonly>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4">
                                    <label for="w6_dept">Departure:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="time" name="dept_time" id="w6_dept" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                             <div class="row">
                                <div class="col-md-4">
                                    <label for="w6_seats">Partners Needed:</label>
                                </div>
                                <div class="col-md-8">
                                    <input type="text" name="source" id="w6_seats" tabindex="4" class="form-control" value="" readonly>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-sm-4"></div>
                                <div class="col-sm-4">
                                    <input type="submit" name="view-submit" id="w6-history-submit" class="form-control btn btn-register pull-right" value="View">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>